// .current {
//   color: green;
// }

.nav {
  text-transform: uppercase;

  a {
    // text-decoration: none;
    // display: inline-block;
    // padding: .5em;

    // &:first-child {
    //   padding-left: 0;
    // }

    &:hover {
      text-decoration: underline;
    }

    small {
      text-transform: none;
    }
  }
}

.nav-list {
  list-style: none;
  padding-left: 0;
}