@use "sass:math";

$pink: #DB0058;
$darkBlue: #0B61A4;
$white: #fff;
$green: #008000;

$default-font-size: 14px;

/* body {
  padding: 2em;
} */

body {
  padding: 50px 0;
  margin: 0;
}

.green {
  color: $green;
}

.btn {
  background: $darkBlue;
  border-radius: 0.25rem;
  border: 0;
  padding: 0.35rem 0.7rem;
  color: $white;
  font-weight: 700;
}

.post-content {
  h2, h3 {
    margin-bottom: 6px;
  }
}

#breadcrumbs {
  font-size: .9em;
}

.recipe-title {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

body.recipes {
  h3.recipe-title {
    margin-bottom: 0;
  }
}

.tag-name {
  text-transform: capitalize;
}

.recipe-list {
  list-style: none;
  padding-left: 0;

  .tag-name {
    margin-bottom: 3px;
  }
}

.recipe-tags {
  margin: .25em;
}

.recipe {
  .title {
    margin-bottom: 0;
  }

  ul {
    padding-left: 1.25em;
  }

  ul:first-of-type, .task-list {
    list-style: none;
    padding-left: 0;

    .task-list-item-checkbox {
      margin-right: 6px;
    }
  }

  ol:first-of-type {
    padding-left: 1em;
  }
}

/**
 Based on CSS by Maroun Baydoun: https://gist.github.com/maroun-baydoun/4188213
**/
.tagcloud {
  padding: 1em 1em 1em 0;
}

.cloud {
  list-style:none;
  width:90%;
  padding:0;

  & li {
    // float:left;
    display: inline-block;
    // margin:1px 10px;
    padding: 1px 20px 1px 0;
    // font-size:14px;
    // min-height:35px;
    height:30px;
    line-height:30px;

    a {
      text-decoration:none;
      color: $pink;
      font-family:Arial;
      font-weight:bold;

      transition:opacity 0.8s;
      -webkit-transition:opacity 0.8s;
      -moz-transition:opacity 0.8s;
      -o-transition:opacity 0.8s;
    }
  }

  &:hover li a {
    opacity:0.3;

    &:hover {
      color: $darkBlue;
      opacity:1;
    }
  }

  // Generate tag1 to tag25 classes
  @for $i from 1 through 25 {
    & li.tag#{$i} {
      $x: 0.1 * ($i - 1);
      font-size: $x + 1.25em;
      // make heights 1.5 bigger than font size, then round to 2 decimal places
      line-height: decimal-round(($x + (14px * 1.25)) * 1.5, 2);
      height: decimal-round(($x + (14px * 1.25)) * 1.5, 2);
    }
  }
}

#cookie-notice {
  font-size: .8rem;
}

/* Widgets */
.tagcloud {
  .title {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3px;
    font-size: $default-font-size;
  }
}