---
layout: default
---
<div class="post">
{% comment %}Check to see if it's the tags index{% endcomment %}
{% if page.tags contains 'archive' and page.tags.size < 2 %}<h2 class="page-title">All Recipe Tags</h2>
{% assign tags = site.recipes | map: 'tags' | uniq | sort %}
<ul class="recipe-list">{% for tag in tags %}{% if tag != 'archive' %}
    <li>
        <h3 class="tag-name"><a href="/recipes/tag/{{ tag | slugify }}/">{{ tag | replace:'-', ' ' }}</a></h3>
        <ul>{% for post in site.recipes %}{% unless post.tags contains 'archive' %}{% if post.tags contains tag %}
            <li>
                <a href='{{post.url}}'>{{post.title}}</a>
            </li>{% endif %}{% endunless %}{% endfor %}
        </ul>
    </li>{% endif %}{% endfor %}
</ul>
{% comment %}Since it's not the tags index{% endcomment %}
{% else %}<h2>{{ page.title }}</h2>
{% comment %}Remove the archive tag
{% assign tag = page.tags | join: ',' | remove: 'archive' | split: ',' %}{% endcomment %}
{% if page.tags.size == 2 %}{% assign tag = page.tags | join: ',' | remove: 'archive' | split: ','  | join: '' %}{% endif %}
{% comment %}<p>tag: {{ tag | inspect }}</p>{% endcomment %}
{% comment %}Remove the archive tag{% endcomment %}
<ul class="recipe-list">
{% comment %}Loop through recipes{% endcomment %}
{% for post in site.recipes %}{% unless post.tags contains 'archive' %}{% if post.tags contains tag %}
    <li>
        <a href='{{post.url}}'>{{post.title}}</a>
    </li>{% endif %}{% endunless %}{% endfor %}
</ul>{% endif %}
</div>